<div class="issue-filter-div actions actions_top">
    <form id="issue-filter-form">
        <button type="button" id="save-dictionary-button">Save Dictionary</button>
        <label id="error-label"></label>
    </form>
</div>
<div class="dictionary-table">
    <table>
        <thead>
            <tr>
                <th>Label</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody id="dictionary-body">
        </tbody>
    </table>
</div>