@font-face {
    font-family: 'GoldenSentry';
    src: url('../fonts/GoldenSentry-pXBv.ttf');
}

body, input, textarea, select, button {
    color: #989898;
    background: #171717;
    border-color: #464646;
}

button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

.actions_top {
    border-bottom: 1px solid #979798;
}

.actions_left {
    border-right: 1px solid #979798;
}

.container {
    margin-bottom: 0;
}

.sort-character-list-form *, .sort-universe-list-form * {
    margin: .3rem 0;
}

.character-list-options, .universe-list-options {
    margin-left: .3rem;
}

.universe-list-options-buttons button {
    width: 6rem;
}

.character-list-options-buttons button {
    width: 13rem;
}

.label-filter-grouper {
    font-weight: bold;
    font-style: oblique;
}

#error-label {
    font-weight: bolder;
    color: #962622;
}

/* unvisited link */
a:link {
    color: lightblue;
}

a:visited {
    color: lightblue;
}

a:active {
    color: red;
}

.selectedUniverse {
    color: #438c0c;
}

.dictionary-table input[type="text"] {
    width: 15rem;
}

#dictionary-body button {
    width: 2rem;
}

.swal2-popup {
    background-color: #464646 !important;
}

.swal2-content {
    color: #cdcdcd !important;
}

.swal2-actions button:active {
    background-color: #640a14 !important;
}

.swal2-actions button:focus {
    box-shadow: 0 0 0 3px #212121 !important;
}