* {
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button {
    font-size: 1rem;
    color: #989898;
    background: #171717;
    border-color: #464646;
    padding: 0.07rem;
    font-family: 'Muli', 'sans serif', 'serif';
}

button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

#paging-div {
    display: flex;
    flex-direction: row;
}

.actions {
    background-color: #2e2e2e;
    padding: .8rem .1rem .8rem .8rem;
}

.actions_top {
    border-bottom: 1px solid #979798;
}

.actions_left {
    border-right: 1px solid #979798;
}

.nav, #character-list-div {
    flex: 3;
}

#current-page {
    width: 35px
}

#page-size-select {
    width: 100px
}

#confirm-character-button {
    padding: 0.6rem 20rem
}

button.paging-button img {
    width: 2rem;
    height: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.sort-character-list-form *, .sort-universe-list-form * {
    margin: .3rem 0;
}

.character-list-options, .universe-list-options {
    margin-left: .3rem;
}

.landing-container {
    flex: 25;
    flex-flow: column wrap;
    width: 100%;
}

.universe-container {
    flex: 2;
}

.universe-list-options-buttons button {
    width: 6rem;
}

.character-list-options-buttons button {
    width: 13rem;
}

.label-filter-grouper {
    font-weight: bold;
    font-style: oblique;
}

#error-label {
    font-weight: bolder;
    color: #962622;
}

.issues-container {
    padding: .5rem;
    flex: 4;
}

td, th {
    border: 0.05rem solid #fff;
    padding: 1rem;
    background-color: #2f2f2f;
}

/* unvisited link */
a:link {
    color: lightblue;
}

a:visited {
    color: lightblue;
}

a:active {
    color: red;
}

.selectedUniverse {
    color: #438c0c;
}

.dictionary-table input[type="text"] {
    width: 15rem;
}

#dictionary-body button {
    width: 2rem;
}

.swal2-popup {
    background-color: #464646 !important;
}

.swal2-content {
    color: #cdcdcd !important;
}

.swal2-actions button:active {
    background-color: #640a14 !important;
}

.swal2-actions button:focus {
    box-shadow: 0 0 0 3px #212121 !important;
}

/* Tiny Flex Grid */

[flex] {
    display: flex;
}

[flex-fill] {
    flex: 1;
}

[flex-full-center] {
    align-items: center;
    justify-content: center;
}

[flex-direction=column] {
    flex-direction: column;
}

[flex-direction=row] {
    flex-direction: row;
}

[flex-size="40"] {
    flex: 40;
}

[flex-size="60"] {
    flex: 60;
}