<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <script src="/js/libs/jquery-3.4.1.min.js"></script>
        <script src="/js/libs/handlebars-4.1.2.min.js"></script>

        <script src="/js/navigation.js"></script>
        <script src="/js/templateGenerator.js"></script>
        <script src="/js/dataManipulator.js"></script>
        <script src="/js/issues.js"></script>

        <script src="/js/newCharacter.js"></script>
        <script src="/js/appearanceTypeDictionary.js"></script>
    </body>
</html>